.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frame {
  margin-top: 16px;
}

.first_section {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

.members::-webkit-scrollbar {
  display: none;
}

.members {
  height: 110px;
  max-width: 600px;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 540px;
  background-color: white;
  border: 1px solid #dbdbdb;
  margin-top: 30px;
  border-radius: 8px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.members div {
  padding-top: 16px;
}

.members a p {
  text-align: center;
  margin-left: 16px;
  color: #262626;
  font-size: 12px;
}

.members a img {
  margin: 0 auto;
  border: 2px solid #ff8400;
  margin-left: 16px;
  width: 56px;
  border-radius: 50%;
}

.left {
  margin-left: 30px;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.left a img {
  width: 56px;
  border-radius: 50%;
}

.left a p {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #1c1c1c;
  font-size: 14px;
  font-size: 14px;
  line-height: 18px;
}

.profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

.profiles p {
  font-size: 10px;
}

.profiles .hero {
  color: #8e8e8e;
}

.profiles div .switch {
  font-size: 10px;
  margin-left: 150px;
  color: #0095f6;
}

.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profil p {
  font-size: 10px;
}

.profil .hero {
  color: #8e8e8e;
  max-width: 300px;
}

.profil div a {
  margin-left: 100px;
  color: #0095f6;
}

.main {
  margin-top: 30px;
}

.main .little {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .little .small {
  padding-top: 16px;
  margin-left: 30px;
  color: #8e8e8e;
}

.main .little .all {
  font-family: "Segoe UI", Arial, sans-serif;
  padding-top: 16px;
  margin-left: 172px;
  color: #1c1c1c;
  font-size: 10px;
  line-height: 18px;
}

.once {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  gap: 15px;
}

.once img {
  width: 32px;
  border-radius: 50%;
  margin-left: 30px;
}

.profil img {
  margin-left: 30px;
  width: 32px;
  border-radius: 50%;
}

.profil .one {
  font-size: 10px;
  margin-left: 102px;
}

.profil .second {
  font-size: 10px;
  margin-left: 91px;
}

.profil .third {
  font-size: 10px;
  margin-left: 75px;
}

.profil .end {
  font-size: 10px;
  margin-left: 135px;
}

@media screen and (max-width: 600px) {
  iframe {
    width: 450px;
  }
}

@media screen and (max-width: 800px) {
  .main {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */