




.second_section {
    margin-top: 16px;
  }
  .members::-webkit-scrollbar {
    display: none;
  }
  
  .members {
    height: 110px;
    width: 600px;
    overflow-x: auto;
    display: flex;
    max-width: 540px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(219, 219, 219);
    margin-top: 85px;
    border-radius: 8px;
  
    overflow-x: scroll;
  
    //   -ms-overflow-style: none;
    scrollbar-width: none;
    div {
      // width: 600px;
      padding-top: 16px;
    }
    a {
      p {
        text-align: center;
        margin-left: 16px;
        color: #262626;
        font-size: 12px;
      }
  
      img {
        margin: 0 auto;
        border: 2px solid rgb(255, 132, 0);
        margin-left: 16px;
        width: 56px;
        border-radius: 50%;
      }
    }
  }
  .left {
    a {
      display: flex;
      align-items: center;
      img {
        width: 56px;
        border-radius: 50%;
      }
      p{
          font-family: 'Segoe UI', sans-serif;
          color: #010101;
          font-size: 14px;
          font-weight: bolder;
          margin-left: 5px;
          font-size: 14px;
          line-height: 18px;
      }
    }
  }